@font-face {
    font-family: 'Comic Mono';
    src: url('../fonts/ComicMono.woff2') format('woff2'),
        url('../fonts/ComicMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}



html {
    font-family: 'Comic Mono';
}

img {
    width: 25%;
    height: auto;
    aspect-ratio: 1 / 1;
    image-rendering: optimizeSpeed;
    object-fit: cover;
    background-size: cover, 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.img-container {
    margin: 0 auto;
}

/* tablet and up */
@media (min-width: 768px) {
    img {
        width: 200px;
    }
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #1b6ec2;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}

code {
    color: #c02d76;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
    text-align: start;
}

.selected-filter {
    background-color: black;
    color: white;
    border-radius: 4px;
    margin: 0 12px;
    padding: 4px;
}

.filter {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    margin: 0 12px;
    padding: 4px;
}

.filter-container {
    margin-bottom: 12px;
    max-width: 100vw;
    overflow-x: auto;
    padding: 10px 0px;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:active {
    background: #555;
}